<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Schulte Grid</title>
        <!-- Link to stylesheet -->
        <link rel="stylesheet" type ="text/css" href="style.css">
    </head>
    <body>
        <!-- Title -->
        <h1>Schulte Grid</h1>
        <!-- Function bar -->
        <div id="navbar">
            <button id="resetBtn">New Game</button>
        </div>
        <!-- The grid -->
        <div id="grid"></div>
        <div id="footer">
            <p>Instructions: Schulte Grid is a concentration exercise. To succeed, the player has to click numbers starting with 1 in ascending order as fast as possible.</p>
        </div>
        <!-- Load scripts last -->
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>
